/* CSS for print */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    color: #444;
    background: #eee;
    border-bottom: 5px solid #ddd;
}

.alert-info {
    background: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}

.alert-warning {
    background: #fcf8e3;
    border-color: #faebcc;
    color: #8a6d3b;
}

pre {
    font-family: Consolas,"Liberation Mono",Menlo,Courier,monospace;
    margin-top: 0;
    margin-bottom: 16px;
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: #f7f7f7;
    border: 0;
    border-radius: 3px;
    word-wrap: normal;
    white-space: pre-wrap;
    box-sizing: border-box;
}